* {
    box-sizing:border-box;
}

:root {
    --primary-color:#10375C;
    --secondary-color:#2E80CE;
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family:'Sora'
}

a {
    text-decoration:none;
}

/* common */
.container {
    width:1170px;
    max-width:calc(100vw - 40px);
    margin:0px auto;
    height:100%;
}

.section-title {
    color:var(--primary-color);
    font-weight:600;
    font-size:5rem;
    line-height:1.2;
    letter-space:-0.02;
}

.section-desc {
    margin-top:18px;
    text-align:center;
    color:#575F66;
    font-weight:300;
    font-size:1.8rem;
    line-height:1.67;
    letter-space:0;
    width:470px;
}

.btn {
    background-color:var(--secondary-color);
    border-radius:999px;
    height:60px;
    width:205px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:400;
}

.btn:hover {
    opacity:0.9;
}

.row {
    display:flex;
    justify-content:space-between;
}
/* app-header */
.app-header {
    background-color:var(--primary-color);
    padding-top:30px;
}

.header-container {
    display:flex;
    align-items:center
}

.navbar {
   margin-right:222px;
    margin-left:auto;
}

.navbar__lists {
    display:flex;
    gap:42px;
}

.navbar__item a{
    color:#C9D2DA;
    font-weight:300;
}

.app-header__actions {
    display:flex;
    align-items:center;
    gap:28px;
}

.login-btn {
    color:#C9D2DA;
}

.signup-btn {
    width:104px;
    height:44px;
}
/* hero */
.hero {
    background-color:var(--primary-color);
    height:100vh;
}

.hero-container {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.hero-content {
    width:520px;
}

.hero-content__title {
    font-weight:600;
    font-size:7rem;
    line-height:1.14;
    letter-space:-0.02;
    color:white;
}

.hero-content__desc {
    margin-top:22px;
    font-weight:300;
    font-size:1.8rem;
    line-height:1.67;
    color:#C9D2DA
}

.hero-content__cta {
    margin-top:38px;
    display:flex;
    align-items:center;
}

.call-btn {
    margin-left:38px;
    font-weight:400;
    font-size:1.8rem;
    line-height:1.67;
    color:white;
}

.hero-img {
    display:flex;
}

.hero-img img {
    border-radius:6px;
}

.hero-img img:first-child{
   width:330px;
   height:540px;
   margin-right:-6px;
   z-index:1;
}

.hero-img img:last-child{
   width:210px;
   height410px;
}

/* services */
.services {
    height:100vh;
    margin-top:170px;
}

.services__text {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.services-container >.row {
    margin-top:70px;
}
.services__img {
    width:570px;
    height:570px;
}
 
.service__content {
    margin-left:auto;
}
.services-item {
    display:flex;
    width:470px;
    height:128px;
    padding:21px;
    border-radius:10px;
    transition:0.25s;
}

.services-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.services-item:hover .service-item__icon{
     color:white;
    background-color:var(--secondary-color);
}

.service-item__icon {
    align-items:center;
    justify-content:center;
    display:flex;
    background-color:#EFF6FD;
    width:60px;
    height:60px;
    border-radius:50%;
    color:#10375C;
     transition:0.25s;
}

.service-item__content {
    margin-left:19px;
    width:350px;
}

.service-item__title {
    font-weight:600;
    font-size:1.8rem;
    color:var(--primary-color);
}

.service-item__desc {
    margin-top:8px;
    color:#575F66;
    font-weight:300;
    font-size:1.6rem;
    line-height:1.75;
}

.more-btn {
    margin-top:55px;
    font-size:1.8rem;
}
/* instruction */
.instruct {
    background-color:#F6FBFF;
    margin-top:170px;
    padding-top:100px;
    padding-bottom:100px;
}

.instruct__title {
    font-weight:600;
    font-size:5rem;
    letter-space:-0.02;
    color:var(--primary-color)
}

.instruct__desc {
    margin-top:18px;
    width:470px;
    font-weight:300;
    font-size:1.8rem;
    line-height:1.67;
    color:#575F66;
}

.instruct__steps-list {
    margin-top:86px;
    display:flex;
    justify-content:space-between;
}

.instruct__step {
    border-radius:4px;
    width:370px;
    height:402px;
    border: solid #EAF6FF 16px;
    padding:42px;
    transition:0.25s;
}

.instruct__step:hover{
    border: solid var(--secondary-color) 16px;
    transform:translateY(-16px);
}

.instruct__step:hover .learn-more-btn{
   color:var(--secondary-color);
   font-weight:400;
}

.instruct__step__icon {
    width:72px;
    height:72px;
}

.instruct__step__title {
    margin-top:18px;
    font-weight:600;
    font-size:2.6rem;
    line-height:1.38;
    color:var(--primary-color)
}

.instruct__step__desc {
    font-size:1.6rem;
    line-height:1.75;
    font-weight:300;
    margin-top:28px;
    color:#575F66;
}

.learn-more-btn {
    display:inline-block;
        font-size:1.6rem;
    line-height:1.75;
    font-weight:300;
    margin-top:18px;
        color:#575F66;
}

/* advertise */

.advertise {
    margin-top:170px;
}

.advertise__container {
    display:flex;
    height:490px;
}

.advertise__img {
    position:relative;
    width:570px;
    height:490px;
}

.advertise__img img:last-child {
    position:absolute;
    bottom:0px;
    right:0px;
}

.advertise__content {
    margin-left:auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:470px;
}

.advertise__title {
    color:var(--primary-color);
    font-size:5rem;
    line-height:1.2;
    font-weight:600;
    letter-space:-0.02;
}

.advertise__desc {
    margin-top:18px;
     font-weight:300;
    font-size:1.8rem;
    line-height:1.67;
    color:#575F66;
}

.adv-learn-more-btn {
    margin-top:38px;
}