* {
    box-sizing:border-box;
}

:root {
    --primary-color:#10375C;
    --secondary-color:#2E80CE;
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family:'Sora'
}

a {
    text-decoration:none;
}

/* common */
.container {
    width:1170px;
    max-width:calc(100vw - 40px);
    margin:0px auto;
}

.btn {
    background-color:var(--secondary-color);
    border-radius:999px;
    height:60px;
    width:205px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:400;
}

.btn:hover {
    opacity:0.9;
}
/* app-header */
.app-header {
    background-color:var(--primary-color);
    padding-top:30px;
}

.header-container {
    display:flex;
    align-items:center
}

.navbar {
   margin-right:222px;
    margin-left:auto;
}

.navbar__lists {
    display:flex;
    gap:42px;
}

.navbar__item a{
    color:#C9D2DA;
    font-weight:300;
}

.app-header__actions {
    display:flex;
    align-items:center;
    gap:28px;
}

.login-btn {
    color:#C9D2DA;
}

.signup-btn {
    width:104px;
    height:44px;
}

