* {
    box-sizing:border-box;
}

:root {
    --primary-color:#10375C;
    --secondary-color:#2E80CE
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family:'Sora'
}

a {
    text-decoration:none;
}

/* common */
.container {
    width:1170px;
    max-width:calc(100vw - 40px);
    margin:0px auto;
}

/* app-header */
.app-header {
    background-color:var(--primary-color);
    padding-top:30px;
}
