* {
    box-sizing:border-box;
}

:root {
    --primary-color:#0F1B4C;
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family:'Poppins'
}

a {
    text-decoration:none;
}

/* common */
.content-container {
    margin:0 auto;
    height:100%;
    width:1170px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:50px;
    min-width:118px;
    padding:12px 21px;
    background-color:black;
    border-radius:999px;
    color:white;
    font-weight:600;
    font-size:1.4rem;
    line-height:1.85;
}

.btn:hover {
   opacity:0.9;
   background-color:#FFB900;
}

/* header */

.app-header {
    padding:36px 0px;
    margin:0px auto;
    background-color:#FFFCF4;
}

.app-header .content-container{
   justify-content:start;
}

.app-header .navigation {
   margin-left:auto;
}

.app-header .navigation .item-lists{
   display:flex;
}

.app-header .navigation .item a{
   padding:0px 21px;
   font-weight:400;
   font-size:1.6rem;
   color:#5F5B53;
}

.app-header .navigation .item a:hover{
   font-weight:600;
   color:#171100;
   border-bottom:solid black 3px;
}

/* hero-section */
.hero-section {
  height:100vh;
  background-color:#FFFCF4;
}
/* img */
.hero-img {
    width:570px;
    height:685px;
    position:relative;
}

.marketing-card {
    position:absolute;
    width:270px;
    height:244px;
    border-radius:12px;
    background-color:white;
    bottom:48px;
    right:0px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 24px;
}

.marketing-card .market-item {
    display:flex;
    gap:16px;
    align-items:center;
}

.marketing-card .market-item .quantity {
    color:#5F5B53;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.8;
}
.marketing-card .market-item .label {
    color:#171100;
    font-weight:600;
    font-size:1.8rem;
    line-height:1.6;
}
/* info */

.hero-text {
    width:488px;
}

.hero-text .title{
   color:#171100;
   font-weight:700;
   font-family:Sen;
   font-size:5.8rem;
   line-height:1.17;
   letter-space:-0.02;
}

.hero-text >.desc{
    margin-top:22px;
   color:#5F5B53;
   font-weight:400;
   font-size:1.8rem;
   line-height:1.67;
}

.hero-btn {
    margin-top:38px;
    display:flex;
    gap:28px;
    align-items:center;
}

.hero-btn .primary-btn{
   width:180px;
   height:64px;
   font-size:1.8rem;
   line-height:1.67;
   font-weight:600;
}

.hero-btn .secondary-btn{
   display:flex;
   align-items:center;
   gap:14px;
}

.hero-btn .secondary-btn .desc {
    color:#171100;
    font-weight:600;
    font-size:1.8rem;
    line-height:1.67;
}

.play-btn {
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
   display:flex;
   align-items:center;
   justify-content:center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
}

.play-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.hero-section .engagement {
    margin-top:48px;
}

.hero-section .engagement .title{
   color:#5F5B53;
   font-weight:400;
   font-size:1.8rem;
   line-height:1.67;
}

.hero-section .engagement .stats{
   margin-top:8px;
   display:flex;
   gap:28px;
}

.hero-section .engagement .stats-item {
  display:flex;
  align-items:end;
  gap:10px;
}

.hero-section .engagement .stats-item .quantity{
  font-family:Sen;
    font-size:4.4rem;
    font-weight:700;
}

.hero-section .engagement .stats-item .label{
    font-size:1.8rem;
    font-weight:400;
       color:#5F5B53;
    margin-bottom:6px;
}

/* courses-section */


.courses-section {
    margin-top:200px;
}

.courses-section .content-container{
    display:block;
}

.popular-header {
    display:flex;
    justify-content:space-between;
}

.popular-header .direct-btn {
    display:flex;
    align-items:center;
    gap:18px;
}

.courses-info .title {
    font-family:Sen;
    font-weight:700;
    font-size:3.8rem;
    letter-space:-0.02;
    color:#171100;
}


.courses-info .desc {
    margin-top:16px;
    font-weight:400;
    font-size:1.8rem;
   line-height:1.67;
   color:#5F5B53;
   width:458px;
}

.courses-list {
    margin-top:55px;
    display:flex;
    justify-content:space-between;
}

.course-item {
    border-radius:12px;
    width:370px;
}

.course-item img{
    height:278px;
}

.course-item .info{
    padding:22px;
    padding-top:16px;
}

.course-item .course-name{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.course-item .course-name .title{
    font-weight:600;
  font-size:1.8rem;
  line-height:1.67;
  color:#171100;
}

.course-item .course-name .rate{
    display:flex;
    gap:5px;
    align-items:center;
}

.course-item .rate .star-icon{
    width:18px;
    height:18px;
}

.course-item .rate .value{
   color:#FEA31B;
}

.course-item .info .desc{
    margin-top:6px;
    font-weight:400;
    font-size:1.4rem;
    line-height:1.85;
    color:#5F5B53;
}

.course-item .info .purchase{
    margin-top:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.course-item .info .purchase .price{
    font-weight:600;
    font-size:1.8rem;
}

.course-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}