* {
    box-sizing:border-box;
}

:root {
    --primary-color:#0F1B4C;
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family:'Poppins'
}

/* common */
.content {
    width:1100px;
    max-width:calc(100% - 48px);
    margin-left:auto;
    margin-right:auto;
}

a {
    text-decoration:none;
}

.btn {
    display:inline-block;
    min-width:98px;
    padding:18px 16px;
    background-color:var(--primary-color);
    border-radius:12px;
    color:white;
    font-size:1.4rem;
    text-align:center
}

.btn:hover {
    opacity:0.9;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp,2); /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*=========header=========*/
/*===navigation===*/
.header {
    height: 100vh;
    background-color: #E6F0FF;
    position:relative;
}

.navbar {
    display:flex;
    align-items:center;
    padding-top:38px;
}

.navbar ul {
    display:flex;
    margin-left:50px;
}

.navbar .actions {
    margin-left:auto;
    display:flex;
    align-items:center;
}

.navbar ul a {
    font-weight:500;
    font-size:1.4rem;
    color:#4F5361;
    padding:8px 14px;
}

.navbar ul a:hover{
    text-decoration:underline;
}

.navbar .action-link {
    font-size:1.4rem;
    font-weight:500;
    color:var(--primary-color);
    padding:16px 18px;
}

.action-btn {
    padding:13px 16px;
}
/*===navigation===*/
/*===hero-section===*/
.hero-section {
    margin-top:130px;
}

.hero-section .info {
    width:50.8%
}

.hero-section .info .sub-title {
    font-weight:500;
    font-size:1.8rem;
    letter-spacing:0.01em;
    color:#687690;
}

.hero-section .info .title {
    margin-top:8px;
    font-weight:700;
    font-size:6.4rem;
    line-height:1.1875;
    color:#000336;
}

.hero-section .info .desc {
    margin-top:30px;
    font-weight:400;
    font-size:1.8rem;
    line-height:2;
    color:#5A6473;
}

.hero-section .info .cta {
    margin-top:40px;
    width:170px;
}

.hero-img {
    position:absolute;
    bottom:0px;
    right:calc((100vw - 1100px) / 2 - 100px)
}

/*===hero-section===*/
/*=========client=========*/
.client {
    margin-top:79px;
    padding-top:43px;
    padding-bottom:66px;
}
.client .feedbacks .row {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.client .feedbacks .desc {
    font-weight:500;
    font-size:1.6rem;
    line-header:1.25;
    color:#7D8589;
}

.client .feedbacks .rate {
    margin-top:18px;
}

.client .cooperators {
    margin-top:96.5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/*=========guides=========*/
.guides {
    margin-top:40px;
    padding-top:93px;
    padding-bottom:79px;
}

.guides .sub-title {
    position:relative;
    font-weight:600;
    font-size:3.5rem;
    line-height:1;
    color:#000339;
    margin-left:auto;
    text-align:center;
}

.guides .sub-title::before {
    position:absolute;
    left:50%;
    top:-10px;
    transform:translateX(-50%);
    display:inline-block;
    content:"";
    width:41px;
    height:4px;
    border-radius:12px;
    background-color:#000339;
}

.guides .desc {
    margin:20px auto 0px;
    font-weight:400;
    font-size:1.6rem;
    line-height:1.875;
    color:#5A6473;
    text-align:center;
    width:450px;
    max-width:100%;
}

.guide-lists {
    margin-top:70px;
    display:flex;
    justify-content:center;
    gap:140px;
}

.guide-item {
    text-align:center;
}

.guide-item .title {
   margin-top:26px;
   color:#3B3C45;
   font-weight:500;
   font-size:2rem;
   line-height:1.1;
}

.guide-item .link {
    display:inline-block;
    margin-top:10px;
    color:#0689FF;
    font-weight:600;
    font-size:1.4rem;
    line-height:1;
}

.guides .cta {
    display:block;
    width:170px;
    margin:48px auto 79px;
}

/* featured  */
/* header */
.featured {
    height:100vh;
    background-color:#F5FAFE;
    margin-top:41px;
    padding-top:100px;
    padding-bottom:110px
}

.featured-header {
            position:relative;
}

.featured-header .sub-title {
    color:#000339;
    font-weight:600;
    font-size:3.5rem;
    line-height:1;
}

.featured-header .row {
    display:flex;
    justify-content:space-between;
        margin-top:15px;
}

.featured-header .desc {
    color:#5A6473;
    font-weight:400;
    font-size:1.6rem;
    line-height:1.875;
}

.featured-header .link {
    color:#0689FF;
    font-weight:600;
    font-size:1.8rem;
     line-height:1.875;
     display:flex;
    align-item:center;
    gap:8px;
}
/* list */
.featured .lists{
    display:flex;
    justify-content:space-between;
    margin-top:68px;
}

.featured .item {
    width:350px;
    border-radius:12px;
    background-color:white;
}

.featured .body {
    padding:17px 38px 22px 20px;
}

.featured .body .title{
    font-weight:600;
    font-size:2rem;
    line-height:1.2;
    color:#000339;
    --line-clamp:2;
}

.featured .body .address{
    margin-top:11px;
    font-weight:500;
    font-size:1.4rem;
    line-height:1.2;
    color:#A3A6AB;
    --line-clamp:3;
    work-break:break-all;
}

.featured .body .row{
    display:flex;
    justify-content:space-between;
    margin-top:21px;
}

.featured .info .label{
    font-weight:500;
    font-size:1.4rem;
    line-height:1;
    letter-spacing:0.01;
    color:#4D4D52;
}

.featured .info .icon{
  position:relative;
  top:2px
}

/* statics */
.statics {
    margin-top:75px;
    padding:50px 0px;
}
.statics .content {
    width:1017px;
}

.statics .row {
    display:flex;
}

.statics .thumb {
    width:50%;
    position:relative;
}

.statics .thumb .img{
    display:block;
    width:410px;
    height:460px;
    object-fit: cover;
    object-position: center center;
    margin-left:auto;
    border-radius:12px;
}

.statics .info {
    padding-top:79px;
    padding-left:165px;
}

.statics .info .sub-title {
    font-weight:600;
    font-size:3.5rem;
    line-height:1.29;
    width:269px;
    color:#000339;
}

.statics .info::before{
    position:relative;
    top:-10px;
    display:inline-block;
    content:"";
    width:41px;
    height:4px;
    border-radius:12px;
    background-color:#000339;
}

.statics .info .desc{
    margin-top:20px;
    font-weight:400;
    font-size:1.6rem;
    line-height:1.875;
    width:309px;
    color:#5A6473;
}

.statics .trend {
    border-radius:0px 0px 12px 12px;
    background-color:white;
    padding:45px  23px 40.5px  22px;
    width:239px;
    position:absolute;
    top:0px;
    left:0px;
}

.statics .trend .value {
    font-weight:700;
    font-size:2.6rem;
    letter-space:0.01;
    color:#000339;
    width:159px;
}

.statics .trend .up-arrow {
    margin-left:auto;
}

.statics .trend .desc {
    margin-top:8px;
    font-weight:400;
    font-size:1.2rem;
    line-height:1.5;
    color:#A7A7A7;
}

.statics .trend .divider {
    margin-top:25.5px;
    height:1.2px;
    background-color:#E9E9E9;
}

.statics .trend .avatar-block {
    margin-top:26px;
    display:flex;
    gap:14px;
    flex-wrap:wrap;
}

.statics .trend .avatar-group {
    display:flex;
}

.statics .trend .avatar-group img{
  width: 17px; 
  height: 17px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -3px;
}

.statics .trend .avatar-group img:first-child{
  margin-left: 0px;
}

.statics .report-row {
    padding:110px 32px 50px;
     justify-content:space-between;
}

.statics .report .quantity{
    color:#000000;
    font-weight:600;
    font-size:6.4rem;
}

.statics .report .title{
    color:#7B8087;
    font-weight:500;
    font-size:1.8rem;
    margin-top:22px;
}

/* subscribe */
.subscribe {
    margin-top:51px;
    padding-top:39px;
}

.subscribe .content {
    background-color:#063183;
    height:370px;
    border-radius:20px;
    display:flex;
}
.subscribe .info-column {
    height:100%;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
    width:60%;
}
.subscribe .illus-column {
    position:relative;
}
.subscribe .info .sub-title {
    font-weight:600;
    font-size:3.5rem;
    color:#FFFFFF
}
.subscribe .info .desc {
    margin-top:15px;
    width:407px;
    font-weight:400;
    font-size:1.6rem;
    line-height:1.875;
    opacity:0.75;
        color:#FFFFFF
}
.sub-btn {
     margin-top:20px;
    background-color:#FFFFFF;
    color:#002366;
    width:151px;
    font-weight:500;
    font-size:1.3rem;
}
.subscribe .illustration {
    position:absolute;
    bottom:0px;
    left:0px;
}

/* footer */
.footer {
    margin-top:55px;
    padding-top:50px;
    padding-bottom:58px;
}

.footer .category-list {
    display:flex;
    justify-content:space-between;
}

.footer .get-in-touch {
    width:257px;
}

.footer .category .sub-title {
   font-weight:700;
   font-size:2rem;
   color:#1C1C1D;
}

.footer .category .lists {
    margin-top:40px;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.footer .category .lists a {
    font-weight:400;
    font-size:1.6rem;
    color:#7A7A7E;
       line-height:1.75;
}

.footer .get-in-touch .sub-title{
    color:#1C1C1D;
    font-weight:700;
   font-size:2rem;
}

.footer .get-in-touch .desc{
        margin-top:40px;
    font-weight:400;
    font-size:1.6rem;
   color:#7A7A7E;
   line-height:1.75;
}

.footer .content:last-child {
    margin-top:85px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer .content:last-child .copyright{
    color:#C2C2C2;
    font-weight:400;
    font-size:1.4rem;
}