* {
    box-sizing:border-box;
}

:root {
    --primary-color:#0F1B4C;
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family:'Poppins'
}

/* common */
.content {
    width:1100px;
    max-width:calc(100% - 48px);
    margin-left:auto;
    margin-right:auto;
}

a {
    text-decoration:none;
}

.btn {
    display:inline-block;
    min-width:98px;
    padding:18px 16px;
    background-color:var(--primary-color);
    border-radius:12px;
    color:white;
    font-size:1.4rem;
    text-align:center
}

.btn:hover {
    opacity:0.9;
}
/*=========header=========*/
/*===navigation===*/
.header {
    height: 100vh;
    background-color: #E6F0FF;
    position:relative;
}

.navbar {
    display:flex;
    align-items:center;
    padding-top:38px;
}

.navbar ul {
    display:flex;
    margin-left:50px;
}

.navbar .actions {
    margin-left:auto;
    display:flex;
    align-items:center;
}

.navbar ul a {
    font-weight:500;
    font-size:1.4rem;
    color:#4F5361;
    padding:8px 14px;
}

.navbar ul a:hover{
    text-decoration:underline;
}

.navbar .action-link {
    font-size:1.4rem;
    font-weight:500;
    color:var(--primary-color);
    padding:16px 18px;
}

.action-btn {
    padding:13px 16px;
}
/*===navigation===*/
/*===hero-section===*/
.hero-section {
    margin-top:130px;
}

.hero-section .info {
    width:50.8%
}

.hero-section .info .sub-title {
    font-weight:500;
    font-size:1.8rem;
    letter-spacing:0.01em;
    color:#687690;
}

.hero-section .info .title {
    margin-top:8px;
    font-weight:700;
    font-size:6.4rem;
    line-height:1.1875;
    color:#000336;
}

.hero-section .info .desc {
    margin-top:30px;
    font-weight:400;
    font-size:1.8rem;
    line-height:2;
    color:#5A6473;
}

.hero-section .info .cta {
    margin-top:40px;
    width:170px;
}

.hero-img {
    position:absolute;
    bottom:0px;
    right:calc((100vw - 1100px) / 2 - 100px)
}

/*===hero-section===*/
/*=========client=========*/
.client {
    margin-top:122px;
    padding-bottom:66px;
}
.client .feedbacks .row {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.client .feedbacks .desc {
    font-weight:500;
    font-size:1.6rem;
    line-header:1.25;
    color:#7D8589;
}

.client .feedbacks .rate {
    margin-top:18px;
}

.client .cooperators {
    margin-top:96.5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/*=========guides=========*/
.guides {
    margin-top:133px;
}

.guides .sub-title {
    position:relative;
    font-weight:600;
    font-size:3.5rem;
    line-height:1;
    color:#000339;
    margin-left:auto;
    text-align:center;
}

.guides .sub-title::before {
    position:absolute;
    left:50%;
    top:-10px;
    transform:translateX(-50%);
    display:inline-block;
    content:"";
    width:41px;
    height:4px;
    border-radius:12px;
    background-color:#000339;
}

.guides .desc {
    margin:20px auto 0px;
    font-weight:400;
    font-size:1.6rem;
    line-height:1.875;
    color:#5A6473;
    text-align:center;
    width:450px;
    max-width:100%;
}

.guide-lists {
    margin-top:70px;
display:flex;
justify-content:center;
gap:140px;
}

.guide-item {
    text-align:center;
}

.guide-item .title {
   margin-top:26px;
   color:#3B3C45;
   font-weight:500;
   font-size:2rem;
   line-height:1.1;
}

.guide-item .link {
    display:inline-block;
    margin-top:10px;
    color:#0689FF;
    font-weight:600;
    font-size:1.4rem;
    line-height:1;
}

.guides .cta {
    display:block;
    width:170px;
    margin:48px auto 0;
}